@charset "utf-8";
/*********************************************************
 * Base
 *********************************************************/


/*
 * iOS 字体大小设置：
 * 长文本：32px~34px
 * 短文本：32px
 * 注释：28px
 *  eg：
 *      顶部导航栏、标题大字：34px
 *      中间正文：30px
 *      注释小字：24px
 */
$baseSize:30;
$baseFontSize:$baseSize + px;
//顶部状态栏高度
$statusBarH:40px;
//状态栏下方的导航栏高度
$navigationBarH:88px;
//底部主菜单栏高度
$mainMenuBarH:98px;